@charset "UTF-8";
body {
  font-family: "font-family: 'Noto Sans JP', sans-serif;";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background: rgb(17, 17, 17);
  text-align: center;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.blog {
  display: block;
  width: 375px;
  width: 23.4375rem;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 768px) {
  .blog {
    max-width: 80rem;
    width: 100%;
  }
}

.blog-title {
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .blog-title {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 189.8734177215%;
    letter-spacing: 0.5;
    color: rgb(255, 255, 255);
  }
}

.blog-title::before {
  content: "Blog";
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Serif JP", serif;
  font-size: 110px;
  font-size: 6.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: rgba(249, 248, 113, .2);
}
.blog-contents {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .blog-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn {
  display: inline-block;
  white-space: nowrap;
  background: rgb(51, 51, 51);
  max-width: 360px;
  max-width: 22.5rem;
  width: 100%;
  height: 60px;
  height: 3.75rem;
  border: solid 1px #fff;
  margin-bottom: 100px;
  margin-bottom: 6.25rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  padding: 0;
}
.btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  font: "font-family: 'Noto Sans JP', sans-serif;";
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.btn a {
  display: inline-block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.btn:hover::before {
  left: 0;
}

.btn:hover span {
  color: rgb(51, 51, 51);
  z-index: 10;
}

.business {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 768px) {
  .business {
    width: 100%;
  }
}

.business-word {
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}
@media screen and (min-width: 768px) {
  .business-word {
    font-size: 1.5625rem;
    font-weight: 400;
    line-height: 216%;
    letter-spacing: 0.125rem;
  }
}

.business-photo {
  position: relative;
  overflow: hidden;
  width: 50%;
}
.business-photo::before {
  content: "";
  display: block;
  width: 187.5px;
  width: 11.71875rem;
  padding-top: 89.6%;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .business-photo::before {
    width: 20rem;
    padding-top: 100%;
  }
}

.business-photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.business-filter {
  display: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.business-filter::before {
  -webkit-transition: 0.75s;
  transition: 0.75s;
  content: "";
  display: inherit;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  z-index: 1;
}

.business-filter:hover::before {
  left: 0%;
}

.business-photoContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .business-photoContents {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  display: inline-block;
  width: 350px;
  width: 21.875rem;
  background: rgb(255, 255, 255);
  -webkit-transition: 0.75s;
  transition: 0.75s;
  position: relative;
}
.card-badge::before {
  content: "New";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: rgb(255, 186, 106);
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 218.75%;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  position: absolute;
  top: -23px;
  left: -8px;
  z-index: 1;
}
.card:hover {
  background: rgb(51, 51, 51);
}

.card:hover .card-title,
.card:hover .card-description,
.card:hover .card-datetime {
  color: rgb(255, 255, 255);
}

.card:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.5" intercept="0.25" /><feFuncG type="linear" slope="0.5" intercept="0.25" /><feFuncB type="linear" slope="0.5" intercept="0.25" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: contrast(50%);
          filter: contrast(50%);
}

.card-photo {
  position: relative;
  overflow: hidden;
}
.card-photo::before {
  content: "";
  display: block;
  padding-top: 66.5714285714%;
}
.card-photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card-title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.9444444444;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  text-align: left;
}
.card-description {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  text-align: left;
}
.card-category {
  display: inline-block;
  background: rgb(255, 234, 46);
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 2px 5.5px;
  padding: 0.125rem 0.34375rem;
  white-space: nowrap;
}
.card-datetime {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
}
.card-contens {
  padding: 0 24px;
  padding: 0 1.5rem;
  padding-top: 4px;
  padding-top: 0.25rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
.card-subContens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__title::before {
  content: "Contact";
  display: block;
}
.contentsBox {
  display: inline-block;
  min-width: 375px;
  min-width: 23.4375rem;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  vertical-align: top;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contentsBox {
    max-width: 80rem;
    width: 100%;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 116.6666666667%;
  }
}

.contentsBox::before {
  content: "Content";
  display: block;
  font-size: 50px;
  font-size: 3.125rem;
  color: rgba(249, 248, 113, .2);
  font-weight: 400;
  line-height: 0;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Serif JP", serif;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .contentsBox::before {
    font-size: 6.875rem;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 0.125rem;
  }
}

.contentsBox-title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .contentsBox-title {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 85.7142857143%;
    letter-spacing: 0.125rem;
  }
}

.contentsBox2__title {
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: rgb(255, 255, 255);
  margin-bottom: 48px;
  margin-bottom: 3rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contentsBox2__title {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 189.8734177215%;
    letter-spacing: 0.03125rem;
  }
}

.contentsBox2__title::before {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Serif JP", serif;
  color: rgba(249, 248, 113, .2);
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  top: 0;
  -webkit-transform: translateY(1.25rem);
          transform: translateY(1.25rem);
}
@media screen and (min-width: 768px) {
  .contentsBox2__title::before {
    font-size: 6.875rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
  }
}

.contentsBox2__under {
  background: rgb(51, 51, 51);
  padding: 0 20px;
  padding: 0 1.25rem;
}
.contentsBox2__under-title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .contentsBox2__under-title {
    font-size: 1.5625rem;
    font-weight: 400;
    line-height: 63.2%;
    letter-spacing: 0.03125rem;
  }
}

.contentsBox2__under-description {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contentsBox2__under-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 218.75%;
    letter-spacing: 0.125rem;
  }
}

.contentsBox2__btn-layout {
  margin-bottom: 21px;
  margin-bottom: 1.3125rem;
}
.kensho {
  display: block;
  color: rgb(255, 255, 255);
}

.box {
  display: block;
  width: 100%;
  background: rgb(255, 0, 0);
}

.mv .swiper-slide {
  display: block;
  width: 100%;
}
.mv .swiper-slide::before {
  display: block;
  min-width: 375px;
  min-width: 23.4375rem;
  width: 100%;
  padding-top: 205.3333333333%;
}
.notice {
  display: inline-block;
  min-width: 337px;
  min-width: 21.0625rem;
  width: 100%;
  padding: 0 19px;
  padding: 0 1.1875rem;
}
@media screen and (min-width: 768px) {
  .notice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    min-width: initial;
    max-width: 1042px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.notice time {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  margin-right: 32px;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .notice time {
    margin-right: 2.375rem;
  }
}

.notice__category {
  display: inline-block;
  width: 99px;
  width: 6.1875rem;
  height: 31px;
  height: 1.9375rem;
  margin-bottom: auto;
  border: 1px solid rgb(255, 255, 255);
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  padding: 4px 0;
  padding: 0.25rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .notice__category {
    margin-right: 3.8125rem;
  }
}

.notice__description {
  display: inline-block;
  min-width: 337px;
  min-width: 21.0625rem;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  padding: 0;
  text-align: left;
  margin-bottom: 28px;
  margin-bottom: 1.75rem;
}
@media screen and (min-width: 768px) {
  .notice__description {
    max-width: 35.75rem;
    width: 100%;
    margin-right: 3rem;
  }
}

.notice__contents {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .notice__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    width: initial;
  }
}

.notice-btn__layout {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(51, 51, 51);
}
@media screen and (min-width: 768px) {
  .notice-btn__layout {
    width: 8.375rem;
    height: 1.875rem;
    position: relative;
    overflow: hidden;
  }
}

.notice-btn__layout::before {
  content: "";
  display: block;
  background: rgb(51, 51, 51);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  border: 1px solid rgb(51, 51, 51);
}
.notice-btn__layout:hover::before,
.notice-btn__layout:hover span {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  color: rgb(255, 255, 255);
}

.notice-btn__layout span {
  color: rgb(51, 51, 51);
}
.notice__description-animationLink {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
  background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  -webkit-transition: background-size 0.75s;
  transition: background-size 0.75s;
}

.notice__description-animationLink:hover {
  background-size: 100% 1px;
}

.overview-title::before {
  content: "Overview";
  display: block;
}

.productionArhivements__title::before {
  content: "Works";
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Serif JP", serif;
  color: rgba(249, 248, 113, .2);
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  top: 0;
  -webkit-transform: translateY(1.25rem);
          transform: translateY(1.25rem);
}
@media screen and (min-width: 768px) {
  .productionArhivements__title::before {
    font-size: 6.875rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
  }
}

.swiper-pagination-bullet-active {
  background: rgb(249, 248, 113);
}

.mySwiper1 {
  display: block;
}

.swiper-pagination {
  display: block;
  position: relative;
  z-index: 2;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
}

.swiper-slide::before {
  content: "";
  display: block;
  width: 375px;
  width: 23.4375rem;
  padding-top: 69.6%;
}

.swiper-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-pagination__content {
  display: block;
  height: 25px;
  height: 1.5625rem;
  background: rgb(51, 51, 51);
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
  top: 50%;
  left: 50%;
  bottom: auto;
  bottom: initial;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=styles.css.map */
