@use "global" as *;
.blog {
  display: block;
  width: rem(375);
  margin: 0 auto;
  margin-bottom: rem(50);
  @include mq(md) {
    max-width: rem(1280);
    width: 100%;
  }
}

.blob__modify {
  @include mq(md) {
    margin-bottom: rem(100);
  }
}

.blog-title {
  display: inline-block;
  font-size: rem(20);
  font-weight: $normal;
  line-height: normal;
  letter-spacing: 2;
  color: rgba(255, 255, 255, 1);
  @include mq(md) {
    font-size: rem(30);
    font-weight: $normal;
    line-height: calc(30 / 15.8 * 100%);
    letter-spacing: 0.5;
    color: rgba(255, 255, 255, 1);
  }
}

.blog-title::before {
  content: "Blog";
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Serif JP", serif;
  font-size: rem(110);
  font-weight: $normal;
  line-height: normal;
  letter-spacing: rem(2);
  color: rgba(249, 248, 113, 0.2);
  @include mq(md) {
  }
}

.blog-contents {
  display: inline-block;
  // width: rem(375);
  @include mq(md) {
    display: grid;
    grid-template-columns: rem(350) rem(350) rem(350);
    grid-template-rows: rem(416);
    gap: rem(25);
    justify-content: center;
  }
}

// blog.html
.blogBreadcrumb {
  margin-bottom: rem(85);
  @include mq(md) {
    margin-bottom: rem(115);
  }
}

.blogAchievementsCategory {
  margin-bottom: rem(37);
  @include mq(md) {
    margin-bottom: rem(39);
  }
}

.blogListContents {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, rem(410));
  max-width: rem(335);
  width: 100%;
  // background: rgba(255, 105, 180, 1);
  margin: 0 auto;
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, rem(410));
    gap: rem(25) rem(25);
    max-width: rem(1100);
    width: 100%;
  }
}

.blogListCard:not(div:last-child) {
  margin-bottom: rem(24);
  @include mq(md) {
    margin: 0;
  }
}

.blogList__modify {
  margin-bottom: rem(80);
  @include mq(md) {
  }
}

.blogListPagenavi.wp-pagenavi.wp-pagenavi__modify {
  display: block;
  color: rgba(255, 255, 255, 1);
  @include mq(md) {
  }
}

.blogList__wrapper {
  margin: 0 rem(20);
  @include mq(md) {
  }
}
