@use "global" as *;
.breadcrumb {
  font-size: rem(16);
  font-weight: $normal;
  line-height: normal;
  letter-spacing: rem(0.0625);
  color: rgba(255, 255, 255, 1);
  @include mq(md) {
  }
}

.breadcrumb_inner {
  margin: 0 rem(20);
  @include mq(md) {
  }
}

.breadcrumb ul {
  display: flex;
  @include mq(md) {
  }
}

.breadcrumb__modify {
  margin-bottom: rem(85);
  @include mq(md) {
  }
}

.breadcrumb li:not(:last-child)::after {
  content: "\003e";
  margin: rem(10) rem(10);
  @include mq(md) {
  }
}

// setting achievements.html
.breadcrumb__achievemetntsModify {
  @include mq(md) {
  }
}

// setting achivements-details.html
.breadcrumb__achivementsDetailsModify {
  padding-top: rem(66);
  @include mq(md) {
  }
}

.achivementsDetailsMv__wrapper > h3,
.achivementsDetailsMv__wrapper > div > time,
.achivementsDetailsMv__wrapper > div > p {
  color: rgba(255, 255, 255, 1);
  font-weight: $normal;
  @include mq(md) {
  }
}

.achivementsDetailsMv__wrapper > h3 {
  font-size: rem(20);
  font-weight: $normal;
  line-height: calc(35 / 20);
  letter-spacing: calc(0.4em / 20);
  @include mq(md) {
  }
}

.achivementsDetailsMv__wrapper > div > time {
  font-size: rem(16);
  font-weight: $normal;
  line-height: calc(32.3 / 16);
  letter-spacing: calc(0.4em / 20);
  margin-right: rem(30);
  @include mq(md) {
  }
}

.achivementsDetailsMv__wrapper > div > p {
  font-size: rem(16);
  font-weight: $normal;
  line-height: normal;
  letter-spacing: calc(2em / 16);
  padding: rem(8.5) rem(20);
  border: solid 1px rgba(255, 255, 255, 1);
  display: inline-block;
  @include mq(md) {
  }
}

// company-profile.html
.breadcrumbCompanyProfile__modify {
  @include mq(md) {
    max-width: rem(1105);
    width: 100%;
    margin: 0 auto;
    margin-bottom: rem(115);
  }
}
