@use "global" as *;
.btn {
  display: inline-block;
  white-space: nowrap;
  background: rgba(51, 51, 51, 1);
  max-width: rem(360);
  width: 100%;
  height: rem(60);
  border: solid 1px #fff;
  margin-bottom: rem(100);
  position: relative;
  overflow: hidden;
  transition: $animation;
  padding: 0;
  @include mq(md) {
  }
}

.btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  font: $base-font-family;
  font-size: rem(20);
  font-weight: $normal;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: $animation;
  @include mq(md) {
  }
}

.btn a {
  display: inline-block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: $animation;
  @include mq(md) {
  }
}

.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: $animation;
  @include mq(md) {
  }
}

.btn:hover::before {
  left: 0;
}

.btn:hover span {
  color: rgba(51, 51, 51, 1);
  z-index: 10;
}
