@use "global" as *;
.business {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-bottom: rem(50);
  @include mq(md) {
    width: 100%;
  }
}

.business-word {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  font-size: rem(20);
  font-weight: $normal;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // line-height: calc(54 / 25 * 100%);
  letter-spacing: rem(2);
  @include mq(md) {
    font-size: rem(25);
    font-weight: $normal;
    line-height: calc(54 / 25 * 100%);
    letter-spacing: rem(2);
  }
}

.business a {
  // transition: 0.75s;
  width: 50%;
  position: relative;
  overflow: hidden;
}

.business a::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  z-index: 2;
  transition: 0.75s;
}

.business a:hover::before {
  left: 0%;
}

.business-photo {
  position: relative;
  overflow: hidden;
  // width: 50%;
  @include mq(md) {
  }
}

.business-photo::before {
  content: "";
  display: block;
  width: rem(187.5);
  padding-top: calc(168 / 187.5 * 100%);
  color: #fff;
  @include mq(md) {
    width: rem(320);
    padding-top: calc(320 / 320 * 100%);
  }
}

.business-photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
  }
}

.business-photoContents {
  display: flex;
  flex-wrap: wrap;
  @include mq(md) {
    flex-wrap: nowrap;
  }
}
