@use "global" as *;

.companyProfileDetail table th,
.companyProfileDetail table td {
  color: rgba(255, 255, 255, 1);
  text-align: left;
  vertical-align: top;
  font-size: rem(13);
  font-weight: $normal;
  @include mq(md) {
    font-size: rem(16);
  }
}

.companyProfileDetail table {
  border-spacing: 0;
}

.companyProfileDetail table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  @include mq(md) {
  }
}

.companyProfileDetail table th {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  padding-right: rem(70);
  padding-top: rem(14);
  padding-bottom: rem(24);
  white-space: nowrap;
  line-height: calc(21 / 16);
  letter-spacing: calc(0em / 16);
  @include mq(md) {
    line-height: calc(21 / 13);
    letter-spacing: calc(0em / 13);
    padding-right: rem(104);
    padding-top: rem(38);
    padding-bottom: rem(28);
  }
}

.companyProfileDetail table td {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  line-height: calc(24 / 13);
  letter-spacing: calc(0em / 13);
  padding-top: rem(14);
  padding-bottom: rem(24);
  @include mq(md) {
    line-height: calc(24 / 16);
    letter-spacing: calc(1em / 16);
    padding-top: rem(38);
    padding-bottom: rem(28);
  }
}

.companyProfileDetail__wrapper {
  margin: 0 rem(20);
  @include mq(md) {
  }
}

.companyProfileDetail__modify {
  margin-bottom: rem(120);
  @include mq(md) {
    max-width: rem(1100);
    width: 100%;
    margin: 0 auto;
    margin-bottom: rem(120);
  }
}

.companyProfileDetailMap {
  margin-bottom: rem(120);
  width: 100%;
  padding-top: calc(300 / 375 * 100%);
  position: relative;
  @include mq(md) {
    padding-top: calc(367 / 1100 * 100%);
    max-width: rem(1100);
    width: 100%;
    margin: 0 auto;
    margin-bottom: rem(150);
  }
}

.companyProfileDetailMap iframe {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  @include mq(md) {
    max-width: rem(1100);
    width: 100%;
  }
}
