@use "global" as *;
.kensho {
  display: block;
  color: rgba(255, 255, 255, 1);
}

.box {
  display: block;
  width: 100%;
  background: rgba(255, 0, 0, 1);
}

// 検証コードは以降に追記する。（上のコードは消さない）
.s-test {
  color: #fff;
  position: fixed;
  z-index: 20;
}
