@use "global" as *;
.kensho {
  display: block;
  color: rgba(255, 255, 255, 1);
}

.box {
  display: block;
  width: 100%;
  background: rgba(255, 0, 0, 1);
}

// 検証コードは以降に追記する。（上のコードは消さない）
.mySwiper {
}

.mySwiper-box {
  display: block;
  width: rem(300);
  background: rgba(255, 105, 180, 1);
}

.swiper-slide {
  position: relative;
  overflow: hidden;
}

.swiper-slide::before {
  content: "";
  display: block;
  width: rem(300);
  padding-top: calc(220 / 300 * 100%);
}

.swiper-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
}

.swiper-pagination {
}

.mySwiper-box__under {
  position: relative;
  display: block;
  height: rem(25);
  background: rgba(255, 255, 255, 1);
  z-index: 99;
}

.swiper-wrapper {
}

.mySwiper-box__bottom {
  display: block;
  height: rem(50);
  background: rgba(255, 105, 180, 1);
}
