@use "global" as *;
.mv {
  @include mq(md) {
  }
}

.mv .swiper-slide {
  overflow: hidden;
  @include mq(md) {
  }
}

.mv .swiper-slide img {
  display: block;
  height: 100vh;
  object-fit: cover;
  @include mq(md) {
  }
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.mv .swiper-slide-active img {
  animation: zoomUp 5s linear 0s 1 normal both;
}
