@use "global" as *;

.mvSwiper-notice {
  height: rem(425);
  @include mq(md) {
    height: rem(370);
  }
}

.notice-mv.mv.swiper-slide img {
  height: 100%;
  @include mq(md) {
    height: initial;
  }
}

.mv.notice-mv {
  margin-bottom: 16px;
  @include mq(md) {
  }
}

.notice-mv .mv .swiper-slide img {
  @include mq(md) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// setting achevements
