@use "global" as *;
.overview__title {
}

.overview__title::before {
  content: "Overview";
  display: block;
}

.overview__contents {
  @include mq(md) {
    flex-direction: row-reverse;
    background: linear-gradient(
      90deg,
      rgba(51, 51, 51, 1) 70%,
      rgba(51, 51, 51, 1) 0%,
      transparent 0%,
      transparent 100%
    );
  }
}
